<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
      <add name="Con" connectionString="Data Source=localhost;Initial Catalog=SKYApi;User ID=sa;Password=siesa-123;Integrated Security=False;" providerName="System.Data.SqlClient" />
    </connectionStrings>

  
</configuration>